div .row{
    margin-left: -98px;
    margin-right: -77px;
}

.page-header{
    text-align: center;
    font-family: 'Times New Roman';
    color: #206a5d;
}

#shoe-img{
    width: 350px;
    height: 350px;
    object-fit: cover;
}